* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-color: rgb(113, 113, 201);
    width: 100%;
    /* debug */
    height: 60px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.header-item{
    background-color: orange;
    width: 50%;
    height: 20%;
    margin: 10px;
    border: 1px solid black;
}


.div1 {
    background-color: blue;
    width: 100%;
    /* debug */
    height: 60px;
    border: 1px solid black;
    display: flex;

}

.rett1 {
    background-color: pink;
    width: 40px;
    height: 30px;

}


.div2 {
    background-color: blue;
    width: 100%;
    /* debug */
    height: 60px;
    border: 1px solid black;
    display: flex;

}

.rett2 {
    background-color: pink;
    width: 40px;
    height: 30px;

}

.div3 {
    background-color: blue;
    width: 100%;
    /* debug */
    height: 60px;
    border: 1px solid black;
    display: flex;

}


.rett3 {
    background-color: pink;
    width: 40px;
    height: 30px;

}


.div4 {
    background-color: blue;
    width: 100%;
    /* debug */
    height: 60px;
    border: 1px solid black;
    display: flex;

}


.rett4 {
    background-color: pink;
    width: 40px;
    height: 30px;

}


.div5 {
    background-color: blue;
    width: 100%;
    /* debug */
    height: 60px;
    border: 1px solid black;
    display: flex;

}

.rett5 {
    background-color: pink;
    width: 40px;
    height: 30px;

}

.foot1 {
    background-color: black;
    width: 100%;
    /* debug */
    height: 60px;
    border: 1px solid black;
    display: flex;

}

.rett6 {
    background-color: green;
    width: 40px;
    height: 30px;

}

.foot2 {
    background-color: black;
    width: 100%;
    /* debug */
    height: 60px;
    border: 1px solid white;
    display: flex;

}

.rett7 {
    background-color: pink;
    width: 40px;
    height: 30px;

}