* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border: 2px solid black;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

header .logo {
    background-color: orange;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    background-color: orange;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.button a {
    background-color: orange;
    border: 2px solid black;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container2, .container3, .container4, .container5 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.hero, .rett1, .rett2, .rett3, .rett4, .rettverde {
    border: 2px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.container2 {
    background-color: blue;
    height: 200px;
}

.hero {
    background-color: pink;
    width: 50%;
    height: 100%;
}

.container3, .container4,  {
    height: 200px;
}

.container3 {
    background-color: aliceblue;
}

.container4 {
    background-color: lightgray;
}

.container5 {
    background-color: lightgray;
    align-items: center;
}

.rett1, .rett3 {
    background-color: blue;
    width: 40%;
    height: 150px;
}

.rett2, .rett4 {
    background-color: pink;
    width: 40%;
    height: 150px;
}

.rettverde {
    background-color: green;
    width: 60%;
    height: 500px;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px 0;
}

.footer1 {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 150px;
    margin: 0 auto;
}

.footerbanner1, .footerbanner2, .footerbanner3, .footerbanner4 {
    border: 2px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 100%;
}

.footerbanner1 {
    background-color: pink;
    width: 15%;
}

.footerbanner2, .footerbanner3, .footerbanner4 {
    background-color: cyan;
    width: 20%;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid black;
}

.footerlogo, .footerbottone {
    background-color: pink;
    border: 2px dashed black;
    padding: 10px;
    text-align: center;
    width: 48%;
}